body {
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
}